html,
body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html,
body {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1440px;
  /* margin: 0 auto; */
  padding: 24px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  min-width: 343px;
  /* margin-bottom: 40px; */
  flex-shrink: 1;
  /* margin: 0 auto; */
}
.header img {
  min-width: 40px;
  height: auto;
}
.header__btn {
  min-width: 154px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #e8eff2;
  padding: 16px 12px;
  border-radius: 8px;
  font-family: "Barlow medium";
  color: black;
  font-size: 16px;
}
.header__btn:hover {
  text-transform: uppercase;
  background-color: #162542;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.header__btn:active {
  background-color: #E8EFF2;
  color: #162542;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 3px #ffffff, 0 0 0 5px #162542;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}
.hero {
  width: 100%;
  min-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.hero__content {
  min-width: 343px;
  margin: 32px;
}
.hero__content h1 {
  font-family: "Barlow black";
  font-size: 48px;
  text-align: left;
  text-transform: uppercase;
  color: #162542;
  letter-spacing: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}
.hero__content p {
  font-family: "Barlow medium";
  font-size: 16px;
  text-align: left;
  color: #5d6d8f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.hero__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 84%;
  min-width: 343px;
  height: 56px;
  gap: 24px;
}

.hero__cta a {
  min-width: 154px;
  height: 56px;
  display: flex;
  margin-right: 10px;
  padding: 16px 24px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Barlow bold";
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f16718;
  cursor: pointer;
}
.hero__cta a:hover{
  background-color: #FF9B62;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
  transition: all 0.3s ease-in-out;
}
.hero__cta a:active{
  background-color: #F16718;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #ffffff, 0 0 0 3px #F16718;
  transition: all 0.3s ease-in-out;
}
.hero__cta span {
  font-family: "Barlow bold";
  font-size: 16px;
  color: #5d6d8f;
  text-align: left;
  text-transform: uppercase;
}
.hero__image {
  width: 91%;
  min-width: 343px;
  height: 331px;
  margin-top: 64px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.hero__image img {
  width: 100%;
  min-width: 343px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product__info {
  width: 100%;
  min-width: 372px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}
.product__info__images {
  width: 100%;
  min-width: 343px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  padding-right: 12px;
}
.info__images__1 {
  flex-grow: 1;
  min-width: 119px;
  background-image: url("../mobile/image-phone-and-keyboard.jpg");
  background-size: 120%;
    background-position: 95% center;
    background-repeat: no-repeat;
  border-radius: 0 20px 20px 0;

    position: relative;
  overflow: hidden;

}
 .info__images__1::after { 
  content: "";
  position: absolute;
  inset: 0;
  background: #F16718; 
  opacity: 1;
  mix-blend-mode: multiply;
} 
.info__images__2 {
  flex-grow: 1;
  min-width: 210px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.product__info__content{
  width: 91%;
  min-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto; 
}
.product__info__content h2 {
  display: inline-block;
  width: 30%;
  font-family: "Barlow black";
  font-size: 32px;
  text-align: left;
  text-transform: uppercase;
  color: #162542;
  letter-spacing: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product__info__content p {
  font-family: "Barlow medium";
  font-size: 16px;
  text-align: left;
  color: #5d6d8f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.features{
width: 91%;
min-width: 343px;
display:flex;
flex-direction: column;
justify-content: center;
gap: 40px;
margin-top: 64px;
}
.feature__card{
  width: 100%;
  min-width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.icon {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F16718;
  border-radius: 16px;
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon--1 .icon__content {
  transform: scale(0.60); 
  transform-origin: center;
}

.icon--2 .icon__content {
  transform: translate(7px, 2px) scale(0.60)
}
.icon--3 .icon__content {
  transform: translate(5px, 6px) scale(0.5);
}
.icon--4 .icon__content {
  transform: translate(5px, 2px) scale(0.5);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card__content h3 {
  font-family: "Barlow black";
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #162542;
  letter-spacing: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__content p {
  font-family: "Barlow medium";
  font-size: 16px;
  text-align: left;
  color: #5d6d8f;
  letter-spacing: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer{
  width: 100%;
  min-width: 343px;
  min-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
 
}
.footer p {
  font-family: "Barlow medium";
  font-size: 16px;
  text-align: center;
  color: #5d6d8f;
  letter-spacing: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}